/* main styles */
@font-face {
    font-family: "Caviar Dreams";
    src: url("css/fonts/CAVIARDREAMS.TTF");
}

#body {
    text-align: center;
    margin: 0;
    font-family: "Caviar Dreams";
    background-image: url(../space.jpg);
    background-size: cover;
    overflow: hidden; 
}

#body2{
    text-align: center;
    margin: 0;
    font-family: "Caviar Dreams";
    background-image: url(../cold.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

#body3 {
    text-align: center;
    margin: 0;
    font-family: "Caviar Dreams";
    background-image: url(../hot.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

h1 {
    color: rgb(0, 255, 225);
    font-weight: bold;
    font-size: 80px;
    margin: 10px auto 0;
    text-shadow: 1px 3px #ff0055;
}

/* input/output fields */
.outTempClass, .inTemp {
    background-color: rgba(245, 245, 245,.4);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 101.6px;
    width: 90%;
    margin: 20px auto;
    padding: 4px 11px;
    font-weight: bold;
    font-size: 80px;
    color: #ff0055;
    font-family: "Caviar Dreams";
}

input[type="number"] {
    font-weight: bold;
    font-size: 80px;
    color: #ff0055;
    text-shadow: 1px 3px rgb(0, 255, 225);
    font-family: "Caviar Dreams";
}

#greenAF {
    background-color: rgba(245, 245, 245,.4);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 125px;
    width: 90%;
    margin: 20px auto;
    padding: 4px 11px;
    font-weight: bold;
    font-size: 80px;
    color: rgb(0, 255, 225);
    text-shadow: 2px 6px #ff0055;
    font-family: "Caviar Dreams";
}

#redAF {
    background-color: rgba(245, 245, 245,.4);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 125px;
    width: 90%;
    margin: 20px auto;
    padding: 4px 11px;
    font-weight: bold;
    font-size: 80px;
    color: #ff0055;
    text-shadow: 2px 6px rgb(0, 255, 225);
    font-family: "Caviar Dreams";
}

#blueAF {
    background-color: rgba(245, 245, 245,.4);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 125px;
    width: 90%;
    margin: 20px auto;
    padding: 4px 11px;
    font-weight: bold;
    font-size: 80px;
    color: #004cff;
    text-shadow: 2px 6px #ff0055;
    font-family: "Caviar Dreams";
}

#hotAF {
    background-color: rgba(245, 245, 245,.4);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 125px;
    width: 90%;
    margin: 20px auto;
    padding: 4px 11px;
    font-weight: bold;
    font-size: 80px;
    color: #ffffff;
    text-shadow: 2px 6px rgb(0, 255, 225);
    font-family: "Caviar Dreams";
}

#coldAF {
    background-color: rgba(245, 245, 245,.4);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 125px;
    width: 90%;
    margin: 20px auto;
    padding: 4px 11px;
    font-weight: bold;
    font-size: 80px;
    color: #0d1e42;
    text-shadow: 2px 6px #ff0055;
    font-family: "Caviar Dreams";
}

/* celius/farenheit buttons */
.radio-toolbar input[type="radio"] {
    display: none;
}
  
.radio-toolbar label {
    display: inline-block;
    border: 2px solid #ff0055;
    border-radius: 10px;
    background-color: rgba(245, 245, 245,.4);
    margin: 0 10px;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 80px;
    cursor: pointer;
    width: 43.3%;
    color: #ff0055;
    text-shadow: 1px 3px rgb(0, 255, 225);
    font-family: "Caviar Dreams";
    font-weight: bold;
    transition: .2s ease-out;
}
  
.radio-toolbar input[type="radio"]:checked+label {
    background-color: rgba(255, 0, 85,.6);
    border-color: rgb(0, 255, 225);
    color: rgb(0, 255, 225);
    text-shadow: 2px 6px rgb(96, 0, 56);
    font-family: "Caviar Dreams";
    font-weight: bold;
    transition: .2s ease-in;
}

/* clear/display buttons */
#clear, #convert {
    background-color:  rgba(245, 245, 245,.4);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 125px;
    width:45%;
    color: #ff0055;
    text-shadow: 1px 3px rgb(0, 255, 225);
    font-weight: bold;
    padding: 4px 11px;
    font-family: "Caviar Dreams";
    font-size: 80px;
    margin: 0 10px;
    transition: .1s ease-out;
}

#clear:active, #convert:active {
    background-color: rgba(255, 0, 85,.6);
    border-color: rgb(0, 255, 225);
    color: whitesmoke;
    text-shadow: 1px 3px rgb(0, 255, 225);
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}