/* main styles */
@font-face {
    font-family: "Caviar Dreams";
    src: url("css/fonts/CAVIARDREAMS.TTF");
}
body {
    text-align: center;
    margin: 0;
    font-family: "Caviar Dreams";
    background-image: url(../space.jpg);
    background-size: cover;
    overflow: hidden; 
}


h1 {
    color: rgb(0, 255, 225);
    font-weight: bold;
    font-size: 80px;
    margin: 10px auto 0;
    text-shadow: 1px 3px #ff0055;
}

/* input/output fields */
#outputTemp, #enterTemp {
    background-color: rgba(245, 245, 245,.75);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 125px;
    width: 90%;
    margin: 20px auto;
    padding: 4px 11px;
    font-weight: bold;
    font-size: 80px;
    color: #ff0055;
    font-family: "Caviar Dreams";
}

input[type="number"] {
    font-weight: bold;
    font-size: 80px;
    color: #ff0055;
    text-shadow: 1px 3px rgb(0, 255, 225);
    font-family: "Caviar Dreams";
}

/* celius/farenheit buttons */
.radio-toolbar input[type="radio"] {
    display: none;
  }
  
  .radio-toolbar label {
    display: inline-block;
    border: 2px solid #ff0055;
    border-radius: 10px;
    background-color: rgba(245, 245, 245,.75);
    margin: 0 10px;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 80px;
    cursor: pointer;
    width: 43.3%;
    color: #ff0055;
    text-shadow: 1px 3px rgb(0, 255, 225);
    font-family: "Caviar Dreams";
    font-weight: bold;
    transition: .2s ease-out;
  }
  
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: rgba(255, 0, 85,.8);
    border-color: rgb(0, 255, 225);
    color: rgb(0, 255, 225);
    text-shadow: 1px 3px whitesmoke;
    font-family: "Caviar Dreams";
    font-weight: bold;
    transition: .2s ease-in;
  }

/* clear/display buttons */
#clear, #display {
    background-color:  rgba(245, 245, 245,.75);
    border: 2px solid #ff0055;
    border-radius: 10px;
    height: 125px;
    width:45%;
    color: #ff0055;
    text-shadow: 1px 3px rgb(0, 255, 225);
    font-weight: bold;
    padding: 4px 11px;
    font-family: "Caviar Dreams";
    font-size: 80px;
    margin: 0 10px;
    transition: .1s ease-out;
}

#clear:active, #display:active {
    background-color: rgba(255, 0, 85,.8);
    border-color: rgb(0, 255, 225);
    color: whitesmoke;
    text-shadow: 1px 3px rgb(0, 255, 225);
}

